[build]
  base = "brms_project"
  command = "npm install && npm run build"
  publish = "brms_project/.next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
